.row {
  display: flex;
  flex-wrap: wrap;
  $columns: 12;
  $column-base-width: 100% / $columns;
  border: 1px solid rgb(0, 132, 255);
  // COLUMN STYLES
  [class*="col-"] {
    min-height: 1px;
    width: $column-base-width;
    border: 1px solid magenta;
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: $column-base-width * $i;
    }

    @media (min-width: 480px) {
      // flex-wrap: wrap;
      // flex-direction: column;
      [class*="col-"] {
        // do 550px wszystkie col- mają width 100% więc układają się pod sobą !
        // nie dzielą już row/12 tylko zachowują się jakby row zagnieżdżane w row, układają się jedna
        // pod drugą
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      [class*="col-"] {
        width: auto;
        background: rgb(233, 229, 29);
      }
    }

    @media (min-width: 1024px) {
      [class*="col-"] {
        background: rgb(0, 255, 34);
      }
    }

    @media (min-width: 1366px) {
      [class*="col-"] {
        background: rgb(17, 0, 255);
      }
    }
  }
}
