$header-bg-white: #fff;
$header-bg-grey: #303030;
$header-link-white: #ddd;
$header-link-black: #232323;

$header-description: #bfbfbf;

$html-icon: #e96230;
$css-icon: #31a4d8;
$sass-icon: #c76494;
$js-icon: #efd835;
$react-icon: #5ed3f3;
$github-icon: #302f2f;
$gulp-icon: #e44b4c;
$npm-icon: #c53a35;
$tux-icon: #313131;
