.about__me {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  margin-top: 950px;

  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include notebook {
      flex-direction: row;
    }

    .about {
      max-width: 600px;
      text-align: center;
      margin: 2rem;

      @include notebook {
        max-width: 500px;
      }

      .about__title {
        color: $title-color;
        font-size: 1.5em;
        padding: 1.5rem;
      }
      .about__content {
        color: $description-color;
        font-size: 1.1em;
        .about__item {
          display: flex;
          flex-direction: column;
        }
        .about-icon {
          font-size: 40px;
          padding: 1.5rem;

          &:nth-child(1) {
            color: $css-icon;
          }
          &:nth-child(2) {
            color: $sass-icon;
          }
          &:nth-child(3) {
            color: $html-icon;
          }
          &:nth-child(4) {
            color: $js-icon;
          }
          &:nth-child(5) {
            color: $react-icon;
          }
          &:nth-child(6) {
            color: $github-icon;
          }
          &:nth-child(7) {
            color: $gulp-icon;
          }
          &:nth-child(8) {
            color: $npm-icon;
          }
          &:nth-child(9) {
            color: $tux-icon;
          }
        }
      }
      &:first-child {
        text-align: left;
        line-height: 1.5rem;

        @include mobile {
          text-align: center;
        }
      }
    }
    .about__contact {
      display: flex;
      justify-content: space-around;
      align-items: center;

      color: $description-color;
      font-size: 1em;

      @include mobile {
        flex-direction: column;
      }

      span:first-of-type {
        padding: 1rem 0;
      }
      i {
        padding: 5px;
      }
    }
  }
}
