.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  background: black;

  .footer__item {
    font-size: 1em;
    color: rgb(0, 0, 0, 0.8);
    margin: 0.8rem;
  }
}
