h1 {
  text-align: center;
}

.gallery__title {
  font-size: 1.3em;
  text-align: center;
  margin: 50px;
}

.portfolio__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: $section-bg;

  img {
    width: 17rem;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin: 1rem;
  }
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  padding: 200px; // mobile 20px
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    // transform: scale(0.5);
    width: 80%;
    height: auto;
    background: #fff;
    cursor: auto;
    padding: 4px;
    @include mobile {
      width: 100%;
    }
  }
}
