.portfolio__wrapper {
  .portfolio__pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .page {
      width: 360px;
      height: 600px;
      margin: 2rem;

      .page__title {
        color: black;
      }
      img {
        display: block;
        width: 300px;
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }
    }
  }
}
