.reference__title {
  text-align: center;
}

.reference__container {
  display: flex;
  justify-content: center;

  .sm-img {
    width: 200px;
    height: 200px;
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
    // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal

    @include mobile {
      display: flex;
      justify-content: center;
    }
    @include tablet {
      display: flex;
      justify-content: center;
    }

    // img {
    //   width: 250px;
    //   height: auto;
    //   margin: 30px;
    // }
  }
}
